body {
  color: #fbff01;
  background-color: #000000;
  font-family: Georgia, serif;
}

.subtitle { color: rgb(194, 211, 10); }
#page-title { font-size: 999px; color: rgb(9, 226, 96); }

#my-name {
  color: navy;
  font-size: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999px;
}
